name: Build

on:
  push:
    branches: main
  pull_request:
    branches: '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@93556350e3433849ea434d68e8b8f7d9e9a402a4 # v1

      - name: Install dependencies
        run: python -m pip install -U "jupyterlab>=4.0.0,<5"

      - name: Lint the extension
        run: |
          set -eux
          jlpm
          jlpm run lint:check

      - name: Test the extension
        run: |
          set -eux
          jlpm run test

      - name: Build the extension
        run: |
          set -eux
          python -m pip install .[test]

          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "jupyterlite-pandoc-pdf-exporter.*OK"

      - name: Package the extension
        run: |
          set -eux

          pip install build
          python -m build
          pip uninstall -y "jupyterlite_pandoc_pdf_exporter" jupyterlab

      - name: Upload extension packages
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: extension-artifacts
          path: dist/jupyterlite_pandoc_pdf_exporter*
          if-no-files-found: error

  test_isolated:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Install Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.10'
          architecture: 'x64'
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: extension-artifacts
      - name: Install and Test
        run: |
          set -eux
          # Remove NodeJS, twice to take care of system and locally installed node versions.
          sudo rm -rf $(which node)
          sudo rm -rf $(which node)

          pip install "jupyterlab>=4.0.0,<5" jupyterlite_pandoc_pdf_exporter*.whl


          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "jupyterlite-pandoc-pdf-exporter.*OK"
          python -m jupyterlab.browser_check --no-browser-test

  build_jupyterlite:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout

        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@93556350e3433849ea434d68e8b8f7d9e9a402a4 # v1

      - name: Build wheel
        run: |
          set -eux
          pipx run build --wheel --outdir wheelhouse

      - name: Install JupyterLite and extension dependencies
        run: |
          set -eux
          pip install -r lite/requirements.txt
          pip install wheelhouse/*.whl

      - name: Build JupyterLite
        run: |
          set -eux
          jupyter lite build --lite-dir=lite --output-dir=dist

      - name: Upload JupyterLite distribution
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: jupyterlite-distribution-${{ github.run_number }}
          path: dist/*

  publish_jupyterlite:
    needs: build_jupyterlite
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Download JupyterLite distribution
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: jupyterlite-distribution-${{ github.run_number }}
          path: dist
          merge-multiple: true

      - name: Publish JupyterLite distribution to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          commit_message: 'Publish JupyterLite distribution for commit ${{ github.event.head_commit.message }}'
          force_orphan: true

  # integration-tests:
  #   name: Integration tests
  #   needs: build
  #   runs-on: ubuntu-latest

  #   env:
  #     PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/pw-browsers

  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

  #   - name: Base Setup
  #     uses: jupyterlab/maintainer-tools/.github/actions/base-setup@93556350e3433849ea434d68e8b8f7d9e9a402a4 # v1

  #   - name: Download extension package
  #     uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
  #     with:
  #       name: extension-artifacts

  #   - name: Install the extension
  #     run: |
  #       set -eux
  #       python -m pip install "jupyterlab>=4.0.0,<5" jupyterlite_pandoc_pdf_exporter*.whl

  #   - name: Install dependencies
  #     working-directory: ui-tests
  #     env:
  #       YARN_ENABLE_IMMUTABLE_INSTALLS: 0
  #       PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
  #     run: jlpm install

  #   - name: Set up browser cache
  #     uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
  #     with:
  #       path: |
  #         ${{ github.workspace }}/pw-browsers
  #       key: ${{ runner.os }}-${{ hashFiles('ui-tests/yarn.lock') }}

  #   - name: Install browser
  #     run: |
  #       set -eux
  #       jlpm playwright install-deps
  #       jlpm playwright install chromium
  #     working-directory: ui-tests

  #   - name: Execute integration tests
  #     working-directory: ui-tests
  #     run: |
  #       jlpm playwright test

  #   - name: Upload Playwright Test report
  #     if: always()
  #     uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
  #     with:
  #       name: jupyterlite_pandoc_pdf_exporter-playwright-tests
  #       path: |
  #         ui-tests/test-results
  #         ui-tests/playwright-report
